Software/
Software/Citrix_Virtual_Apps_and_Desktops_7_1808_2.iso
Software/FSLogix_Apps_2.9.6877.54703.zip
Software/CitrixOptimizer.zip
Software/Workspace-Environment-Management-v-4-07-00.zip
Software/setup-BIS-F-6.1.0_build01.101.exe.zip
parameters.json